<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yusheng.mapper.ElderMapper">

    <!-- 1. 定义一个结果映射 -->
    <resultMap id="ElderResultMap" type="com.yusheng.pojo.Elder">
        <!-- 核心：将数据库的 eldersid 列映射到 Java 的 id 字段 -->
        <id property="id" column="elders_id"/>

        <!-- 其他所有字段因为名字相同，可以不写，MyBatis 会自动映射 -->
    </resultMap>


    <!-- 动态查询老人-->
    <select id="findElders" resultMap="ElderResultMap">
        SELECT * FROM elders
        <where>
            <!-- if test="id" 使用的是 Java 字段名 -->
            <if test="id != null and id != 0">
                <!-- SQL 语句中使用的是数据库列名 -->
                AND elders_id = #{id}
            </if>
            <if test="name != null and name.trim() != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <!-- 根据ID查询老人信息 -->
    <select id="getById" resultMap="ElderResultMap">
        SELECT * FROM elders WHERE elders_id = #{id}
    </select>

    <!-- 查询未分配床位的老人 -->
    <select id="findUnassigned" resultMap="ElderResultMap">
        SELECT * FROM elders WHERE elders_id NOT IN (SELECT elders_id FROM beds WHERE elders_id IS NOT NULL)
    </select>

    <!-- 删除老人 (方法名与 Service 保持一致，比如都叫 deleteById) -->
    <delete id="deleteById">
        DELETE FROM elders WHERE elders_id = #{id}
    </delete>

    <!-- 新增老人 (SQL 列名使用下划线) -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into elders(name, age, birth_date, ethnicity, account, password, education,
                           marital_status, hobbies, care_level, medical_care, fee_type,
                           expenses, relative_contact, bed_number, check_in_date, check_out_date,
                           created_at, updated_at)
        values (#{name}, #{age}, #{birthDate}, #{ethnicity}, #{account}, #{password},
                #{education}, #{maritalStatus}, #{hobbies}, #{careLevel}, #{medicalCare},
                #{feeType}, #{expenses}, #{relativeContact}, #{bedNumber}, #{checkInDate},
                #{checkOutDate}, #{createdAt}, #{updatedAt})
    </insert>

    <!-- 修改老人 -->
    <update id="updateById">
        update elders
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="ethnicity != null and ethnicity != ''">ethnicity = #{ethnicity},</if>
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="education != null and education != ''">education = #{education},</if>
            <if test="maritalStatus != null and maritalStatus != ''">marital_status = #{maritalStatus},</if>
            <if test="hobbies != null and hobbies != ''">hobbies = #{hobbies},</if>
            <if test="careLevel != null and careLevel != ''">care_level = #{careLevel},</if>
            <if test="medicalCare != null and medicalCare != ''">medical_care = #{medicalCare},</if>
            <if test="feeType != null and feeType != ''">fee_type = #{feeType},</if>
            <if test="expenses != null">expenses = #{expenses},</if>
            <if test="relativeContact != null and relativeContact != ''">relative_contact = #{relativeContact},</if>
            <if test="bedNumber != null and bedNumber != ''">bed_number = #{bedNumber},</if>
            <if test="checkInDate != null">check_in_date = #{checkInDate},</if>
            <if test="checkOutDate != null">check_out_date = #{checkOutDate},</if>
            updated_at = NOW() <!-- 推荐更新时自动设置 updated_at -->
        </set>
        where elders_id = #{id}
    </update>
</mapper>